.navbar{
  font-size: x-large;
  height:50px;
  width:100%;
  background-color:black;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  position:fixed;
  top:0px;
  z-index:9999;
}
a{
  text-decoration:none;
  color:white;
}
#nav-input{
height:30px;
width:70%;
width:px;
border-radius: 5px;
border-color:transparent;
}
a:active{
  color:coral;
}
#logo:active{
color: white;
}
.border:hover{
  border:2px solid white;
}
.foot{
  height:160px;
  width:100%;
  background-color: navy;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-evenly;
}
.backtotop{
  background-color: darkslategray;
  align-items:center;
  display:flex;
  justify-content: center;
  height:30px;
}
.btt{
  text-align:center;
  text-decoration:underline;
}
#discount{
  background-color:azure;
  display:flex;
  justify-content: center;
}
#footer{
  color:white;
}
#feedback{
  width:50%;
  height:25px;
}
#feedback:hover{
  border:3px solid black;
}
#footerlinks{
  text-decoration: underline;
}
#submit{
  background-color:aqua;
  transform:scale(1.2) translate(6px,10px);
}
#submit:hover{
  border:3px solid black;
}
#submit:active{
  background-color: white;
  color:black;
}
.contactus{
  color:white;
}
.copyright{
  text-align: center;
  height:20px;
  background-color: darkslategray ;
  color:white;
 
}
.feedback{
  color:white;
}
.photo{
  height:720px;
  background-image: url("privacy.avif");
  background-size: cover;
  background-position: center;
  width:100%;
}